/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav-login {
    text-align: right;
}

.content {
	margin-top: 20px;
}

.footer {
    margin-top: 20px;
}

.iframe {
    margin-top: 20px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.game-block {
    margin-top: 15px;
}

.developer-dashboard {
    border-bottom: 1px dotted #8c8b8b;
    padding-bottom: 10px;
}

.dashboard-title {
    margin-top: 25px;
    margin-bottom: 15px;
}
