{% extends "base.html" %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block content %}

<!--
INSTRUCTIONS
Following objects are passed to this view (refer dashboard in views.py):
user_profile
player_games - array of games purchased by the user
devleoper_games - array of games developed by the user
Refer to models.py for models and field information
 -->

{% if user_profile.is_developer %}
<h3 class="dashboard-title">Developer Dashboard</h3>
<div class="developer-dashboard">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-default" href="{% url 'add_game' %}">Add New Game</a>
            <a class="btn btn-default" href="#">Sale Statistics</a>
        </div>
    </div>


    <h4 class="dashboard-title">Games Developed</h4>
    <div class="row">
    {% for dev_game in developer_games %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{dev_game.title}}</h3>
                </div>
                <div class="panel-body">
                    <p>{{dev_game.price}} EUR</p>
                </div>
            </div>
        </div>
    {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
    {% endif %}

    {% empty %}
        <div class="col-md-12">
            <p>No games up for sale!</p>
        </div>
    {% endfor %}
    </div>
{% endif %}
</div>

<h3 class="dashboard-title">Player Dashboard</h3>
<div class="player-dashboard">
    <h4 class="dashboard-title">Games Purchased</h4>
    <div class="row">
    {% for player_game in player_games %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{player_game.game.title}}</h3>
                </div>
                <div class="panel-body">
                    <p>Purchased on {{player_game.purchased_on}}</p>
                    <p>for {{player_game.purchased_price}} EUR</p>
                </div>
            </div>
        </div>
    {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
    {% endif %}

    {% empty %}
        <div class="col-md-12">
            <p>You haven't purchased any games, yet!</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
