{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Home - {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'script/game.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <h3 class="game-title">Game Title</h3>
            <h4>Developer: {{ game.user.username }}</h4>
        </div>
        <div class="col-sm-6">
            <p>High Scores:</p>
        </div>
    </div>

    <div class="row iframe">
        <div id="col-sm-12">
        	  <iframe id="game-iframe" class="center-block" src="{{ game.href }}"></iframe>
        </div>
    </div>

{% endblock %}
